html {
    background-color: #0a192f;
    font-family: 'Oswald', sans-serif;
    margin: 7px;
}

#wrapper {
    width: 100%;
}

#website-logo {
    width: 53.5%;
    height: 100%;
    float: left;
    display: inline-block;
}

#logo {
    margin: 0;
    margin-left: 15px;
    color: #64ffda;
    font-size: 3rem;
    text-decoration: none;
}

#white {
    color: white;
}

#blue {
    color: #64ffda;
}

#navegation-menu {
    width: 100%;
}

#menu {
    list-style-type: none;
}

#link {
    text-decoration: none;
    color: white;
    padding: 21px 21px;
    display: inline-block;
}

#link-selected {
    text-decoration: none;
    color: #64ffda;
    padding: 21px 21px;
    display: inline-block;
}

#link:hover {
    color: #64ffda;
}

#resume-button {
    color: #64ffda;
    border: 1px solid #64ffda;
    border-radius: 5px;
    padding: 0.75rem 1rem;
    line-height: 1;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
    margin-left: 4px;
}

#resume-button:hover {
    background: rgba(100, 255, 218, 0.1);
}

#social-media {
    width: 30%;
    height: 100%;
    margin: 20px;
    float: left;
    display: inline-block;
}

h1 {
    font-size: 4.5rem;
    color: #64ffda;
    line-height: 60px;
    margin-top: 7%;
    text-align: left;
    margin-bottom: 0;
}

#job-title {
    font-size: 3.5rem;
    text-align: center;
    color: white;
}

#skills-area {
    width: 100%;
}

#skills {
    font-size: 1.5rem;
    color: rgb(255,255,255, 0.9);
    text-align: left;
}

#bullet-point {
    color: grey;
}

#see-resume-button {
    text-align: center;
    color: #64ffda;
    border: 1px solid #64ffda;
    border-radius: 5px;
    padding: 0.75rem 1rem;
    line-height: 1;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}

#see-resume-button:hover {
    background: rgba(100, 255, 218, 0.1);
}

::-moz-selection {
    color: #0a192f;
    background-color: #64ffda;
}
  
::selection {
    color: #0a192f;
    background-color: #64ffda;
}

@media screen and (max-width: 1000px) {
    #website-logo {
        width: 30%;
        height: 100%;
        float: left;
        display: inline-block;
    }

    #logo {
        margin: 0;
        margin-left: 8px;
        color: #64ffda;
        font-size: 3rem;
        text-decoration: none;
    }

    #resume-button {
        visibility: hidden;
    }

    #link {
        margin-top: 17px;
        margin-left: 3.5px;
        text-decoration: none;
        color: white;
        padding: 6px 6px;
        display: inline-block;
    }
    
    #link-selected {
        text-decoration: none;
        color: #64ffda;
        padding: 6px 6px;
        display: inline-block;
    }

    h1 {
        font-size: 60px;
        color: #64ffda;
        line-height: 70px;
        margin-top: 10%;
        text-align: center;
        margin-bottom: 0;
    }

    #job-title {
        font-size: 40px;
        text-align: center;
        color: white;
    }

    #social-media {
        display: none;
    }

    #skills {
        font-size: 29px;
        color: rgb(255,255,255, 0.9);
        text-align: left;
        margin-left: 15px;
        margin-bottom: 54px; 
    }

    #see-resume-button {
        font-size: 30px;
        text-align: center;
        color: #64ffda;
        border: 1px solid #64ffda;
        border-radius: 5px;
        padding: 0.75rem 1rem;
        line-height: 1;
        text-decoration: none;
        list-style-type: none;
        cursor: pointer;
        margin-left: 16.3%;
    }
}